<link rel="stylesheet" href="/header.css">
<div id="head">
    <div id="logo">

    </div>
    <div id="links">
        <div id="linkCont">
            <a href="/index" class="headLink">Home</a>
            <a href="/menu" class="headLink">Menu</a>
            <a href="/contact" class="headLink">Contact</a>
        </div>
    </div>
        <div id="phone">
        <p id="phoneNum">(203)-265-4545</p>
    </div>
</div>