#topCont{
    width: 100%;
    height: 200px;
    border: 1px solid red;
    margin-top: 1.5%;
}
#specialsCont{

}
/* Pizza section ------------------------------------------------------------*/
#pizzaCont{
    width: 70%;
    height: 550px;
    /*-moz-box-shadow: 0 0 3px grey;
    -webkit-box-shadow: 0 0 10px grey;
    box-shadow: 0px 2px 5px #888, 0px -2px 5px #888;*/
    margin: 2.5% 15% 0 15%;
    border-radius: 2px;
}
#pizzaContHead{
    width: 80%;
    height: 20%;
    /*border: 1px solid green;*/
    margin: 1.5% 10% 0 10%;
}
/* Pizza Text */
#paraTopping{
    width: 50%;
    /*border: 1px solid red;*/
    text-align: center;
    margin: 0 25% 0 25%;
}
#pizzaSizes{
    width: 40%;
    margin: 0 30% 0 30%;
/*border: 1px solid red;*/
    text-align: center;
    word-spacing: 50px;
}
.pizzaPrices{
    width: 40%;
    border: 1px solid blue;
    margin: .5% 0 0 17.5%;
    text-align: center;
    word-spacing: 50px;
}
.pizzaTable{
    width: 40%;
    margin: 0 30% 0 30%;
    /*border: 1px solid blue;*/
}
.pizzaTableCont{
    width: 80%;
    margin: 2% 10% 0% 10%;
    /*border: 1px solid red;*/
}
.sizes{
    font-size: 1em;
    font-weight: 450;
}
.toppingAmount{
    font-size: 1em;
    font-weight: 450;
}


/* Grinder Section-------------------------------------------------------- */
#grinderCont{
    width: 70%;
    height: 900px;
    border: 1px solid green;
    margin: 2.5% 15% 0 15%;
}
#grinderHeader{
    width: 80%;
    height: 15%;
    border: 1px solid red;
    margin: 1.5% 10% 0 10%;
}
/* Grinder table */
.grinderTableCont{
    width: 40%;
    margin: 1.5% 5% 0 10%;
    float: left;
    border: 1px solid red;
}
.grinderTable{
    width: 50%;
    margin: 0 25% 0 25%;
}
.grinderSizes{
    font-size: 1em;
    font-weight: 450;
}
.grinderTypes{
    font-size: 1em;
    font-weight: 450;
}
/* Grinder Toppings */
#grinderToppings{
    width: 40%;
    margin: 15% 0 0 0%;
    float: left;
    text-align: center;
}
#toppingHeader{
    text-align: center;
}
#grinderHeadHR{
    width: 50%;
    margin: 0 25% 0 25%;
}
/* Grinder Cheese Types */
#grinderCheeseTypes{
    width: 40%;
    float: left;
    margin:  1.5% 0 0 0%;
    text-align: center;
}
#cheeseHeader{
    text-align: center;
}
/* Grinder Condiments */
#grinderCondiments{
    width: 40%;
    margin:  1.5% 0 0 0%;
    float: left;
    text-align: center;
}
#condimentsHeader{
    text-align: center;
}
/* Grinder Extras */
#grinderExtras{
    width: 40%;
    margin:  1.5% 0 0 0%;
    float: left;
    text-align: center;
}
#extrasHeader{
    text-align: center;
}
.grinderHR{
    width: 80%;
    margin: 1.5% 10% 1.5% 10%;
}
/* Dinner Section -----------------------------------------------------------*/
#dinnerCont{
    width: 35%;
    height: 500px;
    float: left;
    margin: 2.5% 0 0 15%;
    border: 1px solid red;
}
#dinnerHeader{
    width: 80%;
    height: 10%;
    margin: 1.5% 10% 0 10%;
    border: 1px solid blue;
}
#pastaDinnerCont{
    width: 80%;
    height:50%;
    margin: 1.5% 10% 0 10%;
    border: 1px solid black;
    text-align: center;
}
#otherDinnersCont{
    width: 80%;
    height: 30%;
    margin: 1.5% 10% 0 10%;
    border: 1px solid green;
    text-align: center;
}
.pastaDinner{
    width: 90%;
    height: 40%;
    margin: 3.5% 5% 0 5%;
    border: 1px solid orange;
}
#otherDinHead{
    font-size: 2em;
    text-align: center;
}
#pastaDinnerHead{
    font-size: 2em;
    text-align: center;
}
/* Breads Section ----------------------------------------------------------*/
#breadCont{
    width: 35%;
    height: 500px;
    float: left;
    margin: 2.5% 15% 0 0%;
    border: 1px solid blue;
}
#breadHeader{
    width: 80%;
    height: 10%;
    margin: 2% 10% 0 10%;
    border: 1px solid green;
}
#breads{
    width: 80%;
    height: 70%;
    margin: 2% 10% 0 10%;
    border: 1px solid red;
}
/* Apps Section */
#appsCont{
    width: 35%;
    height: 500px;
    float: left;
    margin: 2.5% 0 0 15%;
    border: 1px solid purple;
}
#appsHeader{
    width: 80%;
    height: 10%;
    margin: 2% 10% 0 10%;
    border: 1px solid green;
}
#itemSizesNum{
    width: 80%;
    height: 8%;
    margin: 1.5% 10% 0 10%;
    border: 1px solid red;
}
#appItems{
    width: 80%;
    height: 40%;
    margin: 1.5% 10% 0 10%;
    border: 1px solid blue;
}
#appItemsNonNum{
    width: 80%;
    height: 30%;
    margin: 1.5% 10% 5% 10%;
    border: 1px solid black;
}
/* Salads Section */
#saladsCont{
    width: 35%;
    height: 500px;
    float: left;
    margin: 2.5% 15% 0 0%;
    border: 1px solid blue;
}
#saladsHead{
    width: 80%;
    height: 10%;
    margin: 2% 10% 0 10%;
    border: 1px solid green; 
}
#saladSizes{
    width: 80%;
    height: 8%;
    margin: 1.5% 10% 0 10%;
    border: 1px solid red;
}
#salads{
    width: 80%;
    height: 60%;
    margin: 1.5% 10% 0 10%;
    border: 1px solid black;
}
/* Headers */
#pizzaHead{
    font-family: "Times New Roman", Times, serif;
    font-size: 3em;
    text-align: center;
}
#hrHeadPizza{
    width: 50%;
    margin: 0 25% 0 25%;
}
#grinderHead{
    font-family: "Times New Roman", Times, serif;
    font-size: 3em;
    text-align: center;
}
#dinnerHead{
    font-family: "Times New Roman", Times, serif;
    font-size: 3em;
    text-align: center;
}
#breadHead{
    font-family: "Times New Roman", Times, serif;
    font-size: 3em;
    text-align: center;
}
#appHead{
    font-family: "Times New Roman", Times, serif;
    font-size: 3em;
    text-align: center;
}
#saladHead{
    font-family: "Times New Roman", Times, serif;
    font-size: 3em;
    text-align: center;
}
