#topCont{
    width: 100%;
    height: 200px;
    border: 1px solid red;
    margin-top: 1.5%;
}
#specialsCont{

}
/* Pizza section */
#pizzaCont{
    width: 70%;
    height: 450px;
    border: 1px solid blue;
    margin: 2.5% 15% 0 15%;
}
#pizzaContHead{
    width: 80%;
    height: 20%;
    border: 1px solid green;
    margin: 1.5% 10% 0 10%;
}
#pizzaTopCont{
    width: 80%;
    height: 20%;
    border: 1px solid purple;
    margin: 1.5% 10% 0 10%;
}
#sizesCont{
    width: 80%;
    height: 8%;
    border:1px solid orange;
    margin: 1% 10% 0 10%;
}
#toppingAmountCont{
    width: 10%;
    height: 35%;
    border: 1px solid aqua;
    margin: 1% 0% 0 10%;
    float: left;
}
#pizzaPriceCont{
    width: 70%;
    height: 35%;
    border:1px solid red;
    float: left;
    margin: 1% 0 0 0;

}
/* Grinder Section */
#grinderCont{
    width: 70%;
    height: 600px;
    border: 1px solid green;
    margin: 2.5% 15% 2.5% 15%;
}
#grinderHeader{
    width: 80%;
    height: 15%;
    border: 1px solid red;
    margin: 1.5% 10% 0 10%;
}
#grinderSizes{
    width: 80%;
    height: 5%;
    border: 1px solid blue;
    margin: 1.5% 10% 0 10%;
}
#grinderTypes{
    width: 80%;
    height: 30%;
    border: 1px solid purple;
    margin: 1.5% 10% 0 10%;
}
#grinderToppings{
    width: 40%;
    height: 10%;
    float: left;
    border: 1px solid orange;
    margin: 1.5% 0% 0 10%;
}
#grinderCheese{
    width: 40%;
    height: 10%;
    float: left;
    border: 1px solid black;
    margin: 1.5% 10% 0 0%;
}
#grinderCondiments{
    width: 40%;
    height: 10%;
    float: left;
    border: 1px solid red;
    margin: 1.5% 0% 0 10%;
}
#grinderExtras{
    width: 40%;
    height: 10%;
    float: left;
    border: 1px solid aqua;
    margin: 1.5% 10% 0 0%;
}