body{
    background-color: rgb(233, 233, 233);
}
#topCont{
    width: 100%;
    height: 200px;
    margin-top: 1.5%;
    border-radius: 5px;
    box-shadow: 0px 1px 2.5px grey;
    border: 1px solid black;
    background-color: white;
}
#couponCont{
    float: right;
    width: 25%;
    height: 100%;
    text-align: center;
}
#specialsCont{
    width: 25%;
    float: right;
    height: 100%;
    text-align: center;
}
#couHead{
}
#leftCont{
    width: 50%;
    float: left;
    height: 100%;
}
#botCont{
    width: 100%;
    margin-top: 5%;
    text-align: center;
    clear: both;
}
/*#couponCont{
    float: left;
    width: 50%;
    height: 100%;
}
#couponText{
    width: 100%;
    text-align: center;
}
#specialsCont{
    width: 50%;
    height: 100%;
    float: left;
    text-align: center;
}
#dinSpecHead{
    margin-bottom: 0;
}
#midCont{
    width: 90%;
    height: 200px;
    margin: 1.5% 5% 1.5% 5%;
    border: 1px solid blue;
}*/
/* Pizza section ------------------------------------------------------------*/
#pizzaCont{
    width: 35%;
    height: 900px;
    margin: 2.5% 5% 0 10%;
    box-shadow: 0px 1px 2.5px grey;
    border-radius: 5px;
    background-color: white;
    float: left;
}
#pizzaContHead{
    width: 100%;
    height: 50px;
    background-color:  #0d5eaf;
    box-shadow: 0px 1px 5px grey;
}
#pizzaTopCont{
    width: 100%;
    /*margin: 1.5% 10% 0 10%;*/
    margin-top:1.5% ;
    border-top:1px solid black ;
    border-bottom:1px solid black;
}
/* Pizza Text */
#paraTopping{
    width: 50%;
    /*border: 1px solid red;*/
    text-align: center;
    margin: 1.5% 25% 0 25%;
}
#topHead{
    font-family: "Times New Roman", Times, serif;
    font-size: 2em;
    text-align: center;
}
#pizzaTopHead{
    width: 50%;
    margin-top: 0;
    margin-bottom: 0;
}
.pizzaTable{
    width: 90%;
    /*margin: 0 30% 0 30%;*/
    margin: 1.5% 0 0 10%;
    /*border: 1px solid blue;*/
}
.pizzaTableCont{
    width: 100%;
    /*margin: 2% 10% 0% 10%;*/
    /*border: 1px solid red;*/
}
.sizes{
    font-size: 1.25em;
    font-weight: 400;
}
.toppingAmount{
    font-size: 1.25em;
    font-weight: 400;
}
#specialCont{
    width: 100%;
    margin-top:10%;
}
#specialTopHead{
    font-family: "Times New Roman", Times, serif;
    font-size: 2em;
    text-align: center;
}
#specialTopHR{
    width: 50%;
    margin-top: 0;
}
.specialPara{
    text-align: center;
}
/* Grinder Section-------------------------------------------------------- */
#grinderCont{
    width: 35%;
    height: 900px;
    box-shadow: 0px 1px 2.5px grey;
    margin: 2.5% 10% 0% 5%;
    border-radius: 5px;
    background-color: white;
    float: left;
}
#grinderHeader{
    width: 100%;
    height: 50px;
    background-color:  #0d5eaf;
    box-shadow: 0px 1px 5px grey;
}
/* Grinder table */
.grinderTableCont{
    width: 35%;
    margin: 5% 5% 0 10%;
    float: left;
    /*-moz-box-shadow: 0 0 3px grey;
    -webkit-box-shadow: 0 0 10px grey;
    box-shadow:20px 20px 10px grey;*/
}
.grinderTable{
    width: 100%;
}
.grinderSizes{
    font-size: 1em;
    font-weight: 450;
}
.grinderTypes{
    font-size: 1em;
    font-weight: 450;
}
/* Grinder Toppings */
#grinderToppings{
    width: 35%;
    margin: 35% 10% 0 5%;
    float: left;
    text-align: center;
}
#toppingHeader{
    text-align: center;
}
#grinderHeadHR{
    width: 50%;
    margin: 0 25% 0 25%;
}
/* Grinder Cheese Types */
#grinderCheeseTypes{
    width: 35%;
    margin: 1.5% 10% 0 5%;
    float: left;
    text-align: center;
}
#cheeseHeader{
    text-align: center;
}
/* Grinder Condiments */
#grinderCondiments{
    width: 35%;
    margin: 1.5% 10% 0 5%;
    float: left;
    text-align: center;
}
#condimentsHeader{
    text-align: center;
}
/* Grinder Extras */
#grinderExtras{
    width: 35%;
    margin: 1.5% 10% 0 5%;
    float: left;
    text-align: center;
}
#extrasHeader{
    text-align: center;
}
.grinderHR{
    width: 80%;
    margin: 1.5% 10% 1.5% 10%;
}
/* Dinner Section -----------------------------------------------------------*/
#dinnerCont{
    width: 35%;
    height: 500px;
    margin: 2.5% 5% 0 10%;
    box-shadow: 0px 1px 2.5px grey;
    border-radius: 5px;
    background-color: white;
    float: left;
}
#dinnerHeader{
    width: 100%;
    height: 50px;
    background-color:  #0d5eaf;
    box-shadow: 0px 1px 5px grey;
}
#pastaDinnerCont{
    width: 80%;
    height:45%;
    margin: 1.5% 10% 0 10%;
    /*border: 1px solid black;*/
    text-align: center;
}
#otherDinnersCont{
    width: 80%;
    height: 35%;
    margin: 0 10% 0 10%;
    /*border: 1px solid green;*/
    text-align: center;
}
.pastaDinner{
    width: 90%;
    height: 90%;
    margin: 3.5% 5% 0 5%;
    /*border: 1px solid orange;*/
}
#otherDinHead{
    font-size: 2em;
    text-align: center;
}
#pastaDinnerHead{
    font-size: 2em;
    text-align: center;
}
#pastaDinnersHR{
    width: 50%;
    margin-top: 0;
}
#otherDinnersHR{
    width: 50%;
    margin-top: 0;
}
/* Breads Section ----------------------------------------------------------*/
#breadCont{
    width: 35%;
    height: 500px;
    margin: 2.5% 10% 0 5%;
    box-shadow: 0px 1px 2.5px grey;
    border-radius: 5px;
    background-color: white;
    float: left;
}
#breadHeader{
    width: 100%;
    height: 50px;
    background-color:  #0d5eaf;
    box-shadow: 0px 1px 5px grey;
}
#breads{
    width: 80%;
    height: 70%;
    margin: 2% 10% 0 10%;
    border: 1px solid red;
    text-align: center;
}
/* Apps Section ------------------------------------------------------------*/
#appsCont{
    width: 35%;
    height: 525px;
    margin: 2.5% 5% 5% 10%;
    box-shadow: 0px 1px 2.5px grey;
    border-radius: 5px;
    background-color: white;
    float: left;
}
#appsHeader{
    width: 100%;
    height: 50px;
    background-color:  #0d5eaf;
    box-shadow: 0px 1px 5px grey;
}
.appsNumTableCont{
    margin-top: 1.5%;
    width: 100%;
}
.appsTextTableCont{
    width: 100%;
}
.appsNumTable{
    width: 60%;
    margin: 0 20% 0 20%;
}
.appsTextTable{
    width: 60%;
    margin: 0 15% 0 22.75%;
}
.appSizesNum{
    font-size: 1em;
    font-weight: 450;
}
.appItemName{
    font-size: 1em;
    font-weight: 450;
}
.appSizesText{
    font-size: 1em;
    font-weight: 450;
}
.appSplitHR{
    width: 80%;
}
/* Salads Section ----------------------------------------------------------*/
#saladsCont{
    width: 35%;
    height: 525px;
    margin: 2.5% 10% 0 5%;
    box-shadow: 0px 1px 2.5px grey;
    border-radius: 5px;
    background-color: white;
    float: left;
}
#saladsHead{
    width: 100%;
    height: 50px;
    background-color:  #0d5eaf;
    box-shadow: 0px 1px 5px grey; 
}
.saladTableCont{
    width: 100%;
    margin-top: 5%;
}
.saladTable{
    width: 90%;
    margin: 0 0% 0 10%;
}
#dressingCont{
    text-align: center;
    margin-top:5%;
}
.saladTh{
    font-size: 1em;
    font-weight: 450;
}
.dressingHeader{
    font-family: "Times New Roman", Times, serif;
    font-size: 2em;
    text-align: center;
}
#dressingHR{
    width: 50%;
    margin-top: 0;
}
/* Headers */
#pizzaHead{
    font-family: "Times New Roman", Times, serif;
    font-size: 3em;
    text-align: center;
    color: white;
}
#hrHeadPizza{
    width: 50%;
    margin: 0 25% 0 25%;
}
#grinderHead{
    font-family: "Times New Roman", Times, serif;
    font-size: 3em;
    text-align: center;
    color: white;
}
#dinnerHead{
    font-family: "Times New Roman", Times, serif;
    font-size: 3em;
    text-align: center;
    color: white;
}
#breadHead{
    font-family: "Times New Roman", Times, serif;
    font-size: 3em;
    text-align: center;
    color: white;
}
#appHead{
    font-family: "Times New Roman", Times, serif;
    font-size: 3em;
    text-align: center;
    color: white;
}
#saladHead{
    font-family: "Times New Roman", Times, serif;
    font-size: 3em;
    text-align: center;
    color: white;
}
td{
    font-size: 1.25em;
    font-weight: 200;
}