<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/contact.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
     {{> header}}
    <div id="hoursCont">
        <h2>Hours of Operation</h2>
        <hr id="hoursHr">
        <p>
            Monday - Thursday &amp; Saturday  11:00 am - 9:00 pm
            <br>
            Friday 11:00 am - 10:00 pm
            <br>
            Sunday 12:00 pm - 9:00 pm
        </p>
    </div>
    <div id="cateringCont">
        <h2>Catering Options</h2>
        <hr id="cateringHr">
    </div>
    <div id="locationCont">
        <h2>Location</h2>
        <hr id="locationHr">
        <p>
            827 East Center Street
            <br>
            Wallingford CT, 06492
        </p>
    </div>
</body>
</html>