<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    {{> header}}
    <div id="aboutFood">
        <div id="foodText">
            <div id="headContFood">
                <h2 id="foodHeader">Placeholder</h2>
            </div>
            <hr id="oneHr">
            <div id="foodTextCont">
                <p id="foodTextPara">

                </p>
            </div>
        </div>
        <div id="imageFood">
            <img>
        </div>
    </div>
    <div id="historyOne">
        <div id="imageHistoryOne">
            <img>
        </div>
        <div id="historyTextOne">
            <div id="historyOneHeadCont">
                <h2 id="historyOneHeader">Placeholder</h2>
            </div>
            <div id="historyOneTextCont">
                <p id="historyOnePara">

                </p>
            </div>
        </div>
    </div>
    <div id="historyTextTwo">
        <div id="historyTwoText">
            <h2 id="historyTwoHeader">Placeholder</h2>
            <p id="historyTwoPara">

            </p>
        </div>
        <div id="historyTwoImage">
            <img>
        </div>
    </div>
</body>
</html>